div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 30px;
	height: 30px;
}

#sudoku {
	font-size: 0;
	margin-top: 20px;
}

body {
	text-align: center;
	font-family: Arial;
	background-color: #FF99CC;
}

.incorrect {
	background-color: #000000;
}

.value-provided {
	background-color: #DDD;
}

#flash {
  	margin: 20px;
}

.box { 
	border: 2px solid black;
}