div.box, div.cell {
	display: inline-block;
}

.cell input {
	width: 40px;
	height: 40px;
	text-align: center;
}

#container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#game-container {
	width: 400px;
	display: inline-block;
	float: left;
	position: relative;
	margin-top: -45px;
}

#button-container {
	display: inline-block;
	position: absolute;
	float: right;
	margin-top: 150px;
	margin-left: -20px;
}

#session-button-container {
	clear: both;
	position: absolute;
	margin-top: 550px;
	margin-left: 25px;
}

#sudoku {
	font-size: 0;
	margin-top: -35px;
}

.session-form {
	display: inline-block;
}

.session-button {
	height: 40px;
	width: 100px;
	background-color: white;
	border: none;
	margin: 30px 10px 10px 10px;
}

body {
	text-align: center;
	font-family: Arial;
	background-color: #e6e6e6;
}

.incorrect {
	background-color: #ffd217;
}

.value-provided {
	background-color: white;
	text-align: center;
}

#flash {
  	margin: 20px;
}

.box { 
	border: 3px solid white;
	background-color: white;
	box-shadow: 8px 8px 0 #ffd217, 15px 15px 0 #5ac7ff, 23px 23px 0 #ffd217, 30px 30px 0 #5ac7ff;
}

h1 {
	text-align: center;
	font-size: 70pt;
	font-family: 'Iceland';
	text-shadow: 8px 8px 0 #ffd217, 15px 15px 0 #5ac7ff, 23px 23px 0 #ffd217, 30px 30px 0 #5ac7ff;
	color: white;
	margin-bottom: 30px;
}

@-webkit-keyframes level {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes level {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.level {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: white;
	margin: 10px 10px 10px 20px;
	border: none;
}

.level:hover, .level:focus, .level:active {
  -webkit-animation-name: level;
  animation-name: level;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.button-form {
	display:block;
}

